name: build

on: [push, pull_request]

jobs:
  build-job:
    name: build-job
    runs-on: macos-12
    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Install packages
        run: npm install

      # - name: Setup emsdk
      #   uses: mymindstorm/setup-emsdk@v11
      #   with:
      #     version: 1.38.40 # emcc 版本
      #     actions-cache-folder: 'emsdk-cache'

      - name: build wasm
        run: bash script/build.sh

      - name: Upload output file
        uses: actions/upload-artifact@v3

        with:
          name: output
          path: output/
